*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
/* header */
header{
    
    height: 80px;
    padding-top:24px;
    padding-right:100px;
    padding-left: 100px;
    background-color: black;
}

.logo-spotify{
    width: 120px;
}

.nav-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav-keys{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-link a{
    color: white;
    font-weight: 600;
    margin-right: 2em;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
.tnc a{
    color: white;
}


/* section one */

.section-one{
    width: 100%;
    height: 480px;
    padding-top: 100px;
    padding-left: 104px;
    background-color: #1d75de;
}

.section-one h1, p{
    color: white;
}

h1{
    font-size: 40px;
    font-weight: 600;
}
.section-one .cancel{
    font-size: 25px;
    margin-top: 1.5em;
}

.btn-one, .btn-two{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-one{
    font-size: 15px;
    border-radius: 50px;
    background-color: black;
    border: 1px solid black;
    padding: 15px 30px 15px 30px;
}

.btn-two{
    font-size: 15px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
}

.btn-div{
margin-top: 3em;
margin-bottom: 5em;
}

.section-one .tnc{
 font-size: 0.6975rem;
}
/* section two */

.container-why{
    width: 100%;
    display: flex;
    padding: 75px 0;
    align-items: center;
    flex-direction: column;
}
.img-why{
    
    width: 75%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}
.list-img img{
    width: 142px;
    height: 142px;
    margin-bottom: 71px;
}
.list-img p{
    color: black;
    font-size: 16px;
    
}
.list-img h3{
    font-size: 21px;
    margin-bottom: 10px;
}
.list-img .sub-1{
    margin-left:-.6em;
}
.list-img .sub-2{
    margin-left:-1.5em;
}

.list-img .sub-4{
    margin-left:.5em;
}
.list-img .p-why1{
    margin-left: 1em;
}
.list-img .p-why3{
    margin-left: 1em;
}
.list-img .p-why4{
    margin-left:2em;
}
.container-why h2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 72px;
}
.section-three{
    width: 100%;
    height: 950px;
    background-color: #e7e2e2;
}

/* section three */
.section-three h1{
    padding-top: 55px;
    text-align: center;
    color: black;
    font-weight:bolder;
}
.center{
    text-align: center;
    color: black;
    font-weight:bolder;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card img{
    width: 30px;
    height: auto;
    margin: 1em 2em;
}
.container-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr{
    border: none;
    height: 2px;
    margin: 15px 0;
    background-color: rgb(72, 72, 72);
}
.plan{
    background-color: white;
    padding: 25px 15px;
    border-radius: 10px;
    width: 280px;
    margin: .4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plan h3{
    margin-top: 1em;
}
.plan .heading{
    color: white;
    border-radius:5px;
    padding: 3px 8px;
    background-color: #1d75de;
}

.plan p{
    color: black;
}
.plan ul{
    height: 235px;
    list-style-type: none;
}
.plan .btn-three{
    background-color: black;
    margin-left: 9px;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.plan li{
    margin: .5em 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.terms-and-condition-two{
    font-size: 10px;
}
.tnc-two {
    color: black;
    text-decoration: underline;
    font-size: 10px;
}
.plan li::before{
    content: '✓';
}

/* section four */
.section-four{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding:80px 0;
    background-color: black;
}
.nav-log{
    margin-right: -5em;
    width: 165px;
    height: 346px;
    padding: 15px 0;
}
.nav-log a img{
    width: 100%;
}
.nav-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.description-list{
    margin-left: -5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer a{
    color: white;
    text-decoration: none;
}
.social-icon img{
    width:45px;
    height:45px;
    margin: 0 10px;
}
.social-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.description-list dl{
    margin: 0 10px;
    width: 165px;
    height: 346px;
    padding: 0 15px;
}
.description-list dt{
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(155, 162, 168);
}
.description-list dd{
    margin: 20px 0;
}
.country-span{
    width: 1268px;
    padding-right: 1em;
    margin-bottom: 1em;
    font-size: 12px;
    text-align: end;
}
.country-span span a{
    font-size: 12px;
    color: rgb(155, 162, 168);
}
.other-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.other-information ul{
    margin-left: 5em;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.other-information li a{
    font-size: 12px;
    margin: 0 1.5em;
    font-weight: 400;
    color: rgb(155, 162, 168);;
}
.other-information span{
    padding-right: 2.5em;
    font-size: 12px;
    margin-right: 5em;
    color: rgb(155, 162, 168);
}
.section-four a:hover, img:hover{
color: green;
}
.header a:hover{
    color: green;
}
